aiohttp

beautifulsoup4

hachoir

psycopg2-binary

numpy

Pillow

ffmpeg-python

ffmpeg

pyrogram


feedparser


requests

youtube-dl


motor


dnspython


aiofiles

pyromod


psutil

tgcrypto

python-dotenv

mutagen

aiofiles

sqlalchemy==1.3.20

asyncio
