aiohttp
beautifulsoup4
hachoir
sqlalchemy==1.3.20
psycopg2-binary
numpy
Pillow
ffmpeg-python
ffmpeg
pyrogram
feedparser
requests
youtube-dl
git+git://github.com/Satyamurthi/youtube-dl.git
git+git://github.com/mongodb/motor
dnspython
aiofiles
pyromod
psutil
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
umongo==3.0.0
bs4
imdbpy
