aiohttp
aiofiles
beautifulsoup4
cpython
dnspython
filetype
ffmpeg-python
ffmpeg
feedparser
hachoir
motor
mutagen
numpy
olefile
psycopg2-binary
Pillow
pyrogram
pyromod
psutil
python-dotenv
requests
sqlalchemy
tgcrypto
tldextract
youtube-dl
yt-dlp
